<a href="https://colab.research.google.com/github/GTD2101-ACD-AA-EJ23/01-Python-basico-20170858/blob/main/03.%20TiposDeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

En este JNB se revisar√° el tema de Tipos de Datos

In [ ]:
print("Hello World!")

Hello World!

#Este tipo de datos es el tradicional de valores que son enteros

In [1]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [2]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

La presencia del punto decimal en cualquier numero se convierte en un tipo flotante

In [3]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

#Booleanos
este tipo de datos se utiliza para manejar falso y verdadero

In [4]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

las expresiones de tipo relacional se evaluan a valores booleanos

In [5]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

se pueden utilizar operadores logicos

In [6]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [7]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

Representa cualquier secuencia de caracteres. Se puede manejar en 1 omas lineas y se pueden representar con comillas simples, dobles y triples.

In [8]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

Consultando la longitud de un string con la funcion length

In [9]:
print(len(w))

14

Un string especial es el que tiene longitud 0

In [12]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

se pueden manejar string de numeros, pero hay que convertirlos para darles el tratamiento como tales:

In [13]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [14]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Es posible utilizar eloperador "*" sobrecargado para los strings en Python:

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))